.everything {
    align-items: center;
    margin: auto;
    text-align: center;
    width:100%;
    list-style-position: inside;
    justify-content: center;
}
.input-area input:hover {
    outline: none;
    border-color: #94ff5a;
    box-shadow: 0 0 40px #f99e49;
}

.search-button {
    background-color:rgb(32, 32, 33);
    color:aliceblue;
    transition-property: background-color, color;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
}

.search-button:hover {
    transition-property: background-color, color;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
    background-color:rgb(163, 81, 18);
    color:aliceblue;
}

.list {
    list-style-position:inside;
    text-align: left;
}

.info-display-area {
    display: flex;
    border: 3px solid red;
    width: 30%;
    margin-left: 40%;
}