.dashboard {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .dashboard__container {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #dcdcdc;
    padding: 30px;
  }
  .dashboard__btn {
    padding: 10px;
    font-size: 18px;
    margin-top: 10px;
    border: none;
    color: white;
    background-color: black;
    cursor: pointer;
  }
  .dashboard__btn:hover {
    background-color: #655757;
    transition-property: background-color;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
  }
  .dashboard div {
    margin-top: 7px;
  }
  .header {
    display: block;
    margin: 0;
    padding: 2rem;
    font-size: 1.25rem;
    position:relative;
    line-height:2em;
    overflow:hidden;
  }
  
.fadingEffect {
    position:absolute;
    top:0; bottom:0; right:0;
    width: 0%;
    background:white;
    -moz-animation: showHide 2s ease-in; /* Firefox */
    -webkit-animation: showHide 2s ease-in; /* Safari and Chrome */
    -ms-animation: showHide 2s ease-in; /* IE10 */
    -o-animation: showHide 2s ease-in; /* Opera */
    animation: showHide 2s ease-in;
}
@-webkit-keyframes showHide { /* Chrome, Safari */
    0% {width: 100%}
    100% {width: 0%}
}
@-moz-keyframes showHide { /* FF */
  0% {width: 100%}
  100% {width: 0%}
}
@-ms-keyframes showHide { /* IE10 */
  0% {width: 100%}
  100% {width: 0%}
}
@-o-keyframes showHide { /* Opera */
  0% {width: 100%}
  100% {width: 0%}
}
@keyframes showHide {
  0% {width: 100%}
  100% {width: 0%}
}