.Navbar {
    width: 100%;
    min-height: 60px;
    background-color: #2e2e2e;
    position: relative;
}

.brand {
    color: aliceblue;
    position: absolute;    
    display: inline-block;
    top: 50%;
    height: 1.4em;
    left: 1.3em;
    margin-top: -0.6em;
    font-size: 4em;
    text-decoration: none;
    text-transform: uppercase;
    background-image: linear-gradient(
    -225deg,
    #ff1361 0%,
    #fff800 65%,
    #231557 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.logo {
    display: inline;
    height: 60px !important;
    float: left;
    padding-top: 1px;
    padding-bottom: 1px;
}

.logo-image {
    max-height: 100%;
    width: auto;
}

.NavLinks {
    font-size: 1.7em;
    display: inline; 
    left: 12em;
    top: 0.52em;
    position: absolute;
    text-decoration: none;
}

.link {
    text-decoration: none;
    color: #e5e5e5;
    padding: 4px;
    border: 3px solid #ff1361;
    border-radius: 7px;
}

.login-info {
    position: absolute;
    height: 1.4em;
    margin-top: -.7em;
    right: 10px;
    top: 50%;
    color: #fff;
}

.white {
    color: white;
    text-decoration: none;
}

.white:visited {
    color: white;
}