.header {
    display: block;
    margin: 0 auto;
    padding: 2rem;
    font-size: 1.25rem;
    position:relative;
    line-height:2em;
    overflow:hidden;
    text-align: center;
    width: fit-content;
}


.prefs-container {
    width: 60%;
    font-size: 1.3rem;
    padding: 1.4rem;
    margin: 0 auto;
    text-align: center;
}